.errorpage {
  --link-color: var(--makigas-brand-washed-out);

  flex: 1;
  align-content: center;
  
  background: #08172f;
  color: white;
  font-size: 115%;

  @media screen and (width >= 1024px) {
    font-size: 125%;
  }

  @media screen and (width >= 1280px) {
    font-size: 137.85%;
  }

  @media screen and (width >= 1536px) {
    font-size: 150%;
  }

  code {
    border: 1px solid #ffffff37;
    padding: 2px 6px;
    background: #12274a;
    border-radius: 5px;
  }

  header {
    text-align: center;
  }

  h1 {
    font-weight: 900;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--makigas-brand-darker);
  }

  h2 {
    margin-top: 0;
    font-weight: 600;
  }
}
