<div class="forumcta">
  <%= link_to @url, class: 'forumcta__link' do %>
  <strong class="forumcta__title">💬 Comenta en el foro</strong><br>
  ¿Preguntas? ¿Comentarios? ¿Apreciaciones? En el foro puedes enviar opiniones, hacer preguntas o ayudar a otras personas. Únete gratis hoy mismo.
  <% end %>
</div>
