<%= render Six::Base::WrapperComponent.new(classes: 'errorpage') do %>
<header>
  <h1>HTTP 500</h1>
  <h2>游땯 춰Algo va mal!</h2>
</header>

<p>
  El servidor web no ha podido completar correctamente la petici칩n que ha
  enviado tu navegador. Prueba a recargar la p치gina transcurridos unos
  momentos. Si contin칰as viendo este mensaje de error, puede deberse a un
  problema interno con la configuraci칩n de la p치gina web o del servidor que
  deba ser revisado por un administrador del sistema.
</p>

<p>
  Si quieres reportar este error por e-mail o Twitter, recuerda indicar
  que ID de este mensaje de error ha sido: <code><%= request.uuid %></code>
</p>
<% end %>
