%div{class: 'supportua'}
  = render Six::Base::WrapperComponent.new do
    %p
      <strong>🇺🇦 Слава Україні!</strong>
      Consulta como ayudar a Ucrania y pide a tu gobierno que se movilice en <a href="https://stopputin.net" target="_blank">stopputin.net</a>.
