# Uncomment these if you need to override the values and you don't
# want to touch the database.yml file to make your changes (you shouldn't).
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=
# DB_USERNAME=
# DB_PASSWORD=

# Configure Meilisearch.
MEILISEARCH_HOST=
MEILISEARCH_API_KEY=

# Configure application secrets, as used by Makigas::Environment.
DISCORD_SERVER_ID=
DISCORD_SERVER_INVITE=
PLAUSIBLE_API_KEY=
PLAUSIBLE_DOMAIN=
SENTRY_DSN=

# During development mode this may make development easier to test subdomains
# AUTHORIZED_HOSTS=dashboard.lvh.me,admin.lvh.me,lvh.me,www.lvh.me
