<div class="col-sm-4 col-md-3 hidden-xs">
<div class="list-group">
  <%= link_to t('.dashboard'), [:dashboard], class: 'list-group-item' %>
  <%= link_to t('.topics'), [:dashboard, :topics], class: 'list-group-item' %>
  <%= link_to t('.playlists'), [:dashboard, :playlists], class: 'list-group-item' %>
  <%= link_to t('.videos'), [:dashboard, :videos], class: 'list-group-item' %>
</div>
</div>