/*
 *= require_directory .
 *= require_self
 */

.paginator {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.dashboard-header {
  background: #f5f5f5;
  border-bottom: 1px solid darken(#f5f5f5, 20%);
  margin-bottom: 20px;
  padding-bottom: 1em;

  .breadcrumb {
    background: none;
    padding: 0;
    padding-top: 1em;
  }
}

.dashboard-toolbar {
  form { display: inline-block; }
  margin-top: 4em;
}

form.button_to {
  display: inline;
}

.data-dashboard {
  h1 { text-align: center; }
  p.lead { text-align: center; }
}