// Place all the styles related to the Dashboard/Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginator {
  text-align: center;
}