@keyframes move-row-up {
  from { transform: translate(0); }
  to { transform: translateY(-100%); }
};

@keyframes move-row-down {
  from { transform: translate(0); }
  to { transform: translateY(100%); }
}

body.page-playlists {
  tr.moving-up {
    animation-name: move-row-up;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
  }
  tr.moving-down {
    animation-name: move-row-down;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
  }
}