<p>
Mi nombre es Dani y, si bien en la vida real no soy más que un ingeniero de software,
para bien o para mal en Internet también soy la persona que está detrás de makigas.
</p>

<p>
Desde 2012, llevo produciendo en mi tiempo libre material para este canal de YouTube.
Tengo una mentalidad curiosa, me gusta conocer y aprender cosas nuevas. En la mayoría
de ocasiones, plasmo en este canal lo que aprendo con el objetivo de ayudar a otras
personas que, al igual que yo, siempre tengan ganas de encontrar algo nuevo.
</p>

<p>¿Algo que decirme? <a href="https://twitter.com/danirod93" title="Ir a la cuenta de Twitter @danirod93">Soy <strong>@danirod93</strong> en Twitter</a>.</p>