.about-behind.front-block
  .container
    %h1= t('.title')
    .media
      .media-body.media-middle
        = render 'author'
      .media-right.media-middle.hidden-xs.hidden-sm
        = image_tag 'dani.jpg', class: 'img-circle media-object', alt: t('.image.alt'), title: t('.image.title')