.makigas-tron.jumbotron
  .makigas-tron-inner
    .container
      .row
        .col-md-10.col-md-push-1.col-lg-8.col-lg-push-2
          %h1= t('.title_html')
          %p= t('.subtitle')
          %h1.cta-buttons
            = link_to t('.topics.button'), :topics, class: 'btn btn-lg btn-hero', title: t('.topics.title')
            = link_to t('.reading.button'), '#about-makigas', id: 'hero-scroller', class: 'btn btn-lg', title: t('.reading.title')