<h1>¡Bienvenido a makigas!</h1>

<p>
Esta es la página pública y la estás viendo así porque la plantilla todavía
no está importada en el sitio web. No te preocupes, es culpa tuya por haber
descargado una versión en desarrollo.
</p>

<p>
Simplemente por confirmar un par de cosas: sí, makigas v5 va a ser una
aplicación de código abierto. No saco ningún provecho en este momento de
este código fuente y lo importante del canal son los propios vídeos, no lo
que sea que haga para mostrar e indexar esos vídeos.
</p>
