<div class="makigas-tron jumbotron">
  <div class="makigas-tron-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Tutoriales de programación gratuitos y en castellano</h1>
          <p>En esto tan simple consiste makigas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container about-makigas">
  <h1 class="title">¿Qué es makigas?</h1>
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <p class="lead">makigas es un canal de YouTube y una página web con tutoriales sobre distintos temas relacionados con la programación y el desarrollo de software.</p>
      <p class="lead">En el canal de YouTube y en este sitio web encontrarás material para aprender distintas tecnologías o lenguajes de programación a través de vídeos accesibles gratis y en castellano.</p>
    </div>
    <div class="col-md-6 col-md-pull-6 hidden-xs">
      <%= image_tag 'laptop.png', class: 'laptop-image' %>
    </div>
  </div>
</div>