.fronthero {
  background-image: url("assets/hero.png");
  background-color: var(--makigas-brand-darker);
  background-repeat: repeat;
  color: white;
  padding-top: 6rem;
  padding-bottom: 4rem;
  text-align: center;

  &__title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

    @include desktop-layout {
      font-size: 2rem;
    }
  }

  .searchbar {
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include desktop-layout {
      --searchbar-text-size: 1.2rem;

      margin-top: 3rem;
      width: 60%;
    }
  }
}
