.wrapper {
  --viewport-width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;

  &--breath {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (width >= 640px) {
    --viewport-width: 608px;
    margin-left: auto;
    margin-right: auto;
    width: 608px;

    &--fluid {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  @media screen and (width >= 1024px) {
    --viewport-width: 992px;
    width: 992px;

    &--fluid {
      width: initial;
    }
  }

  @media screen and (width >= 1280px) {
    --viewport-width: 1248px;
    width: 1248px;

    &--fluid {
      width: initial;
    }
  }

  @media screen and (width >= 1536px) {
    --viewport-width: 1502px;
    width: 1502px;

    &--fluid {
      width: initial;
    }
  }
}
