.plpagehead {
  background: var(--card-hover-background);
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and (width >= 1024px) {
    background: none;
  }
}

.plpagebody {
  &__episodes {
    padding-top: 1rem;
  }
}

.plheader {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 0.5rem;

  &__data {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-family: var(--font-title);
    font-size: 2rem;
    text-wrap-style: balance;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__icon {
    max-width: 10rem;
    border-radius: 100%;
  }

  @media screen and (pointer: fine) {
    abbr {
      text-decoration: none;
      border-bottom: 0.1em dotted currentColor;
      cursor: help;
    }
  }

  @media screen and (width >= 1024px) {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    gap: 2rem;

    &__data {
      text-align: start;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__metas {
      font-size: 1.5rem;
    }
  }
}

.plepisodes {
  list-style: none;
  padding-left: 0;
}

.plbody {
  position: relative;

  @media screen and (width >= 1024px) {
    &__content {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
    }
  }
}

.plepisode {
  &__link {
    display: block;
  }

  &__media {
    display: none;
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    object-position: center;
    border: 1px solid oklch(from currentcolor l c h / 20%);
    border-radius: 5px;
  }

  &__vnum {
    text-align: right;
  }

  &__title {
    font-size: 1rem;
    margin: 0;
  }

  &__metas {
    margin-top: 0.4rem;
    font-size: 0.85rem;
  }

  &__desc {
    font-size: 1em;
  }

  @media screen and (width >= 768px) {
    &__link {
      display: grid;
      grid-template-columns: 7rem 1fr;
      gap: 1rem;
    }

    &__media {
      display: block;
    }
  }
}

.card {
  background-color: transparent;
  color: var(--card-foreground);
  text-decoration: none;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--card-hover-background);
    outline: 1px solid var(--card-hover-border);
    color: var(--card-hover-foreground, var(--card-foreground));
  }
}
