<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="grid-table row">
  <% @topics.each do |topic| %>
    <div class="topic col-xs-6 col-sm-4 col-lg-3">
      <%= link_to topic do %>
        <div class="panel panel-default">
          <%= image_tag(topic.photo.url(:medium), srcset: "#{topic.photo.url(:big)} 2x", class: 'img-responsive') %>
          <div class="panel-heading">
            <h3 class="panel-title"><%= topic.title %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
