<% content_for :title, "#{t('.meta.title')} – makigas" %>
<% content_for :description, t('.meta.description') %>

<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<% if ENV['USE_SIX'].present? %>
  <%= render Six::Base::WrapperComponent.new(classes: 'topicslist', breath: true) do %>
    <% @topics.each do |tp| %>
      <%= render Six::Explorer::TopicCardComponent.new(topic: tp) %>
    <% end %>
  <% end %>
<% else %>
<div class="grid-table topic-list row">
  <% @topics.each do |tp| %>
    <div class="topic col-md-6">
      <%= render Five::Catalog::TopicMediaCardComponent.new(topic: tp) %>
    </div>
  <% end %>
</div>
<% end %>
