.Trend {
  background: var(--trendbadge-background);
  color: var(--trendbadge-foreground);
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.05rem 0.4rem;
  cursor: default;
}
