<div class="fronthero">
  <%= render Six::Base::WrapperComponent.new(classes: 'fronthero_wrap') do %>
    <h1 class="fronthero__title">Enseñando a programar paso a paso y en español</h1>
    <%= render Six::Layout::SearchComponent.new(size: :normal) %>
  <% end %>
</div>
