$medium-icon-size: 20px;
$large-icon-size: 30px;

.searchbar {
  &--normal {
    --searchbar-icon-size: 20px;
    --searchbar-text-size: 1rem;
    --searchbar-box-shadow: 2px;
    --searchbar-box-radius: 4px;
    --searchbar-box-background: #fff;
    --searchbar-box-outline-color: #c0c0c0;
    --searchbar-box-outline: 4px;
    --searchbar-text-padding: 10px;
  }

  &--large {
    --searchbar-icon-size: 25px;
    --searchbar-text-size: 1.25rem;
    --searchbar-box-shadow: 4px;
    --searchbar-box-radius: 8px;
    --searchbar-box-outline: 2px;
    --searchbar-text-padding: 25px;
    --searchbar-box-background: #fff;
    --searchbar-box-outline-color: #c0c0c0;
  }

  display: inline-flex;
  width: 100%;
  background: var(--searchbar-box-background);
  border-radius: var(--searchbar-box-radius);
  box-shadow: 0 var(--searchbar-box-shadow) var(--searchbar-box-shadow) rgb(0 0 0 / 25%);

  &__label {
    /* Taken from https://www.w3.org/WAI/tutorials/forms/labels/. Note that this
     * is mostly a workaround for Firefox accessibility test, given that the
     * input already has an aria-label, but Firefox will not pick it. */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /* Firefox will complain about colors for offscreen items unless colors are explicitly set. */
    color: white;
    background: black;
  }

  &__search {
    flex: 1;
    background: none;
    border: none;
    border-top-left-radius: var(--searchbar-box-radius);
    border-bottom-left-radius: var(--searchbar-box-radius);
    padding: var(--searchbar-text-padding);
    font-size: var(--searchbar-text-size);
    outline: 0;

    &:focus {
      transition: box-shadow 0.15s ease-out;
      box-shadow: 0 0 0 0.25rem var(--searchbar-box-outline-color);
    }
  }

  &__submit {
    width: calc(var(--searchbar-icon-size) * 3);
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
      color: var(--makigas-brand);
    }
  }

  &__icon {
    width: var(--searchbar-icon-size);
    height: var(--searchbar-icon-size);
  }
}
