:root {
  --makigas-search-filter-background: #cce3f1;
  --makigas-search-filter-foreground: #000;
  --makigas-search-filter-link: #073350;
  --makigas-search-filter-link-hover: #1e79b6;
}

.searchfilters {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &__filter {
    display: inline-flex;
    margin-right: 1rem;
    background: var(--makigas-search-filter-background);
    color: var(--makigas-search-filter-foreground);
    border-radius: 3px;
  }

  &__label {
    padding: 4px;
    padding-left: 8px;
    cursor: default;
  }

  &__link {
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 100%;
    align-self: center;
    color: var(--makigas-search-filter-link);

    &:hover {
      color: var(--makigas-search-filter-link-hover);
    }
  }

  &__icon {
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
}
