.relatedlists {
  margin-bottom: 2rem;

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }

  &__list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.relatedlistnode {
  border: 1px solid var(--relatednode-border-color);
  box-shadow: 0 1px 1px #00000040;
  border-radius: 5px;
  transition: transform ease-in-out 0.25s;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
    align-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--link-color);
      background-color: var(--tag-background);
    }
  }

  &__image {
    object-fit: scale-down;
    width: 64px;
  }

  p {
    margin: 0;
    line-height: 1.5;
  }
}
