.searchresult {
  margin-bottom: 0;
  padding: 15px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  border-radius: 10px;

  &__media {
    align-self: flex-start;
    margin: 0;
  }

  &__media img {
    width: 140px;
    @include desktop-layout {
      width: 200px;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__badges {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }

  .metas {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
