.searchtag {
  border: 1px solid var(--searchtag-border-color);
  box-shadow: 0 1px 1px #00000040;
  border-radius: 5px;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;

  &__icon {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    object-position: center;
    object-fit: scale-down;
  }

  &__content p {
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__content p:last-child {
    margin-bottom: 0;
  }

  &__content &__lead {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
