<% content_for :title, 'Uso de cookies – makigas' %>
<% content_for :hero do %>
  <h1>Uso de cookies</h1>
<% end %>
<%= render Six::Base::WrapperComponent.new(tag: 'main', classes: 'colophon') do %>
  <h2>¿Qué son las cookies?</h2>
  <p>
  Las cookies son datos temporales que un sitio web puede guardar en tu navegador web con el objetivo de recordar una cierta información entre página y página.

  <p>
  El ejemplo más claro de qué propósito cumple una cookie es un sitio web que permita cambiar el aspecto de su
  portada (por ejemplo, un sitio de noticias permitiendo elegir qué sección mostrar en la parte superior). La cookie se puede usar para que al
  visitar al día siguiente el mismo sitio web, recuerde las preferencias y vuelva a configurar la portada a gusto del usuario.

  <h2>¿Qué problema hay con las cookies?</h2>

  <p>
  Hemos llegado a este punto porque las cookies también pueden ser usadas por parte de empresas de marketing para hacer un seguimiento de usuarios.
  Por ejemplo, una cookie que asigne un número único a cada navegador web puede perseguir a un usuario entre sitio web y sitio web para poder hacer
  un seguimiento del usuario a medida que va navegando por internet. En publicidad, esto se está utilizando para conocer los gustos de una persona
  y ofrecer anuncios más relevantes; por ejemplo, si una persona suele visitar a menudo sitios web sobre historia, mostrarle anuncios de libros
  sobre historia.

  <h2>¿Todas las cookies son iguales?</h2>

  <p>
  Hay que diferenciar dos tipos de cookies: las <strong>cookies propias</strong> son las que el software que hace funcionar un sitio web establece para
  recordar información en el navegador del usuario. Son el ejemplo del sitio de noticias que hay descrito más arriba. Son establecidas por el propio
  sitio web. <strong>Una cookie propia no puede escapar de su sitio web</strong>. O sea, la cookie que establece un sitio de noticias no puede perseguirte
  cuando abres tu correo electrónico.

  <p>El otro tipo de cookies son las <strong>cookies de terceros</strong>, que son las que se pueden instalar debido al uso de componentes ajenos
  al sitio web. Por ejemplo, cuando se coloca un reproductor de YouTube en una página web, ese reproductor puede cargar nuevas cookies establecidas por
  YouTube y no por el sitio web. Cuando se configura un sistema para mostrar anuncios, el anunciante podría cargar nuevas cookies establecidas por
  la red publicitaria para hacer uno de esos seguimientos.

  <p>Como estas cookies se cargan en componentes que se incrustan en una web (por ejemplo, un reproductor web o un widget para mostrar un post en una red
  social), estas cookies son independientes al sitio web, y por lo tanto sí pueden perseguir al usuario de una web a otra siempre que la otra web también
  esté incrustando widgets propiedad del mismo tercero. (Por ejemplo, dos webs que carguen el mismo widget para mostrar un post de Instagram sí pueden
  provocar que Instagram deduzca que el mismo navegador web ha visitado dos sitios web diferentes.)

  <p>Algunas cookies tienen <strong>fecha de caducidad</strong>, para borrarlas del sitio automáticamente. Por ejemplo, un banco por seguridad podría
  borrar la cookie que recuerda que se ha iniciado sesión en el perfil cuando se cierre el navegador de forma automática, o borrarla al cabo de 30 minutos,
  12 horas o un mes. Otras cookies pueden tener una fecha de caducidad de un año o más, para conservarla durante mucho tiempo.

  <p>En los detalles de las políticas de cookies, además normalmente se diferencia una cookie por el tipo. Las <strong>cookies técnicas</strong> existen
  para cumplir con el funcionamiento normal de la página (por ejemplo, recordar que se ha iniciado sesión). Las <strong>cookies analíticas</strong>, para
  fabricar estadísticas de uso del sitio web. Las <strong>cookies de marketing</strong> están relacionadas con las redes de anuncios.

  <h2>¿Qué tipo de cookies deja makigas.es en mi navegador durante una visita?</h2>

  <h3>Cookies propias</h3>

  <ul>
    <li><strong>nolive</strong> (cookie de tipo técnica): esta cookie se guarda cuando haces clic en el botón "X" del popup de directo que aparece de vez en cuando en la parte
    inferior derecha de la página, para recordar que no quieres ver el popup durante tu sesión de navegación en el sitio web y no volver a molestarte.
    <strong>Duración de esta cookie: 12 horas</strong> (así puedo volver a avisarte de ello la próxima vez que haya un directo).
  </ul>

  <h3>Cookies de terceros</h3>

  <p>
  makigas.es contiene fragmentos de vídeo embebido alojados en el servidor de YouTube (youtube.com). Cuando haces clic en el botón Play y reproduces un
  vídeo a través del sitio web makigas.es, deberás tener en cuenta que el servidor de YouTube generará cookies nuevas (suponiendo que no las tengas ya
  debido a haber visitado otros sitios web que también tenían vídeos de YouTube embebidos en el pasado), que se almacenarán igualmente en tu navegador
  web, que son responsabilidad de YouTube. Estas cookies se usan, por ejemplo, para que si tienes la función del historial de YouTube activo, se incluya
  el vídeo que has visto en tu historial para poder volver a verlo luego en tu portada o recomendarte vídeos como ése.
  Tras auditar el reproductor, las cookies que se han encontrado incluyen la VISITOR_INFO1_LIVE, la PREF, la CONSENT y la
  YSC. Para conocer la política de cookies de los reproductores embebidos de YouTube consulta
  <a href="https://policies.google.com/technologies/cookies/embedded?hl=es-ES" target="_blank">este artículo de ayuda</a>

  <h2>Cómo puedo ver las cookies</h2>

  <p>
  Puedes hacerlo usando el Inspector web de tu navegador web o las Herramientas de desarrollo. A menudo estas herramientas se abren pulsando la tecla
  F12 en tu navegador web, o si estás en macOS, la combinación de teclas <kbd>Cmd + Option + I</kbd>. Normalmente la tabla con las cookies se encuentra
  en la sección <strong>Almacenamiento</strong> o <strong>Cookies</strong>, pero debes consultar el manual de instrucciones de tu navegador web para
  encontrar instrucciones adaptadas a tu caso.

  <h2>Cómo puedo gestionar el almacenamiento de cookies en el navegador web</h2>

  <p>
  En cada navegador se hace de forma diferente. Normalmente encontrarás esta opción en las Preferencias del navegador web. En caso de necesitar ayuda para
  ubicar este ajuste, deberías consultar el manual de instrucciones o la ayuda para encontrar una forma de bloquear cookies automáticamente.
  También te recomendamos consultar las opciones de privacidad (por ejemplo, revisar los ajustes de la protección anti-rastreo) si está disponible en
  tu navegador web.

  <hr>

  <p><small>Fecha de la última actualización: 28 de septiembre de 2023.</small></p>
<% end %>
