<% content_for :title, 'Limitación de responsabilidad – makigas' %>

<% content_for :hero do %>
  <h1>Limitación de responsabilidad</h1>
<% end %>

<p>Al utilizar el contenido presentado en este sitio web y en el canal de YouTube aceptas estar de acuerdo con lo siguiente.</p>
<p><strong>TODO EL CONTENIDO PRESENTADO EN ESTE SITIO WEB SE OFRECE TAL CUAL Y SIN GARANTÍAS DE NINGÚN TIPO. Los usuarios son los únicos responsables del uso que hacen de la información presentada en este sitio web. LOS EDITORES Y ADMINISTRADORES DE MAKIGAS.ES NO SE HACEN RESPONSABLES DEL USO QUE PUEDEN DAR LOS USUARIOS A LA INFORMACIÓN PRESENTADA Y DE SI EL USO QUE SE HACE DE LOS CONTENIDOS PONE EN PELIGRO SUS SISTEMAS.</strong></p>
<p>Que básicamente es una forma fina de decir que, pese a que los tutoriales se esfuerzan lo suficiente en presentar contenido que sea seguro para los usuarios, el canal no se hace responsable si por culpa de seguir las instrucciones de algún vídeo tu sistema operativo hace cosas raras, o si tu ordenador se rompe, se quema, explota o salta por la ventana.</p>
<p>Fecha de la última actualización: 16 de febrero de 2016.</p>