<% content_for :title, 'Política de privacidad – makigas' %>
<% content_for :hero do %>
  <h1>Política de privacidad</h1>
<% end %>
<%= render Six::Base::WrapperComponent.new(tag: 'main') do %>
  <p>El objetivo de este sitio web es informarte sobre los datos de usuario que pueden ser recopilados durante la navegación en este sitio web y la forma en la que dichos datos son utilizados.</p>
  <p>makigas.es utiliza la tecnología web de Google Analytics para obtener informació analítica sobre los usuarios y sobre el uso que se hace del sitio web. Los usos que se hacen de la información recopilada son los siguientes:</p>
  <ul>
    <li>Determinar qué contenidos son los más relevantes para los usuarios con el fin de priorizar su mejora frente a otros con menos relevancia.</li>
    <li>Conocer demográficamente el país y la ciudad de procedencia de los usuarios con el fin de determinar qué partes del mundo son las más interesadas en los contenidos.</li>
    <li>Obtener información sobre las tecnologías empleadas por los usuarios del sitio web, como el nombre del sistema operativo y navegador web que utilizan, a fin de determinar qué tecnologías son las que más pueden interesar a los usuarios para futuras actualizaciones del sitio web.</li>
  </ul>
  <p>Google Analytics es un servicio externo. Cuando accedes al sitio web de makigas.es, se puede enviar al sitio web de Google Analytics (www.google-analytics.com) la siguiente información: dirección IP, nombre del sistema operativo, nombre del navegador web, URL que se está visitando, URL de procedencia (referer) usada para entrar en la página web, información sobre si es un usuario nuevo o no, entre otros detalles. Recomendamos consultar la política de privacidad de Google Analytics para más información.</p>
  <p>Además, este sitio web incluye códigos que presentan vídeos procedentes de YouTube.com en este sitio web. Cuando un usuario reproduce un vídeo a través de este sitio web, YouTube almacena cierta información analítica que luego es presentada a los operadores del canal a través del panel de control del canal. La información que YouTube puede recopilar incluye: país de procedencia, porcentaje de vídeo reproducido, sistema operativo y navegador utilizado, entre otros. Recomendamos consultar la política de privacidad de YouTube para más información.</p>
  <p>Fecha de la última actualización: 3 de septiembre de 2015.</p>
<% end %>
