default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: makigas_development
  username: makigas
  password: 

test:
  <<: *default
  database: makigas_test
  username: makigas
  password:

production:
  <<: *default
  database: makigas_production
  username: makigas
  password: <%= ENV['MAKIGAS_DATABASE_PASSWORD'] %>
