@import "./responsive";

.wrapper {
  margin-left: 15px;
  margin-right: 15px;

  &--breath {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @include desktop-layout {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    &--fluid {
      max-width: initial;
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  @include wide-layout {
    max-width: 1280px;

    &--fluid {
      max-width: initial;
    }
  }
}

.topicslist {
  @include desktop-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
