@import "./responsive";

.wrapper {
  margin-left: 15px;
  margin-right: 15px;

  &--breath {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @include desktop-layout {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    &--fluid {
      max-width: initial;
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  @include wide-layout {
    max-width: 1280px;

    &--fluid {
      max-width: initial;
    }
  }
}

.topicslist {
  @include desktop-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.paginator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  .pagination {
    display: inline-flex;

    a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;

      &:hover {
        background: #e0e0e0;
      }
    }

    .current {
      background: var(--link-color);
      color: white;
    }

    > span {
      width: 2rem;
      height: 2rem;
      border: 1px solid #00000029;
      text-align: center;
      line-height: 2rem;

      & + span {
        border-left: 0;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.discord {
  background-color: #2a2a2a;
  color: white;

  &__grid {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;

    @include desktop-layout {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__widget {
    width: 100%;
    height: 600px;

    @include desktop-layout {
      width: 420px;
    }
  }

  &__cta {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    @include desktop-layout {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__btn {
    padding: 12px 36px;
  }
}
