@import "./responsive";

.wrapped {
  margin-left: 15px;
  margin-right: 15px;

  @include desktop-layout {
    max-width: 720px;
    margin: 0 auto;
  }
}

main.wrapped {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
