:root {
  --makigas-brand: #4d6699;
  --makigas-brand-washed-out: #BBC6DD;
  --playlist-header-foreground: white;
  --discord-background: #36393F;
  --discord-foreground: #FFFFFF;
  --searchbar-box-background: white;
  --footer-background-color: #3e3e3e;
  --footer-link-color: #a4d7fc;
  --footer-foreground-color: #ffffff;
}
