:root {
  --makigas-brand: #4d6699;
  --makigas-brand-washed-out: #bbc6dd;
  --playlist-header-foreground: white;
  --discord-background: #36393f;
  --discord-foreground: #fff;
  --searchbar-box-background: white;
  --footer-background-color: #3e3e3e;
  --footer-link-color: #a4d7fc;
  --footer-foreground-color: #fff;
  --link-color: #06c;
}
