:root {
  /* stylelint-disable max-line-length */
  --font-default: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --font-title: montserrat, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  /* stylelint-enable max-line-length */
}

html {
  font-family: var(--font-default);
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
blockquote,
ul,
ol,
li {
  line-height: 1.5;
}

a {
  color: var(--link-color);
}

hr {
  height: 1px;
  border: none;
  background: currentcolor;
}
