<ul>
  <li><%= link_to t('.topics'), [:dashboard, :topics] %></li>
  <li><%= link_to t('.playlists'), [:dashboard, :playlists] %></li>
  <li><%= link_to t('.videos'), [:dashboard, :videos] %></li>
</ul>