<header class="jumbo">
  <%= render Six::Base::WrapperComponent.new do %>
    <% if text.present? %>
      <h1><%= text %></h1>
    <% else %>
      <%= content %>
    <% end %>
  <% end %>
</header>
