<div class="ytiframe">
  <div id="ytplayer" data-id="<%= youtube_id %>" class="ytiframe__iframe"></div>

  <noscript>
    <iframe class="ytiframe__iframe" src="https://www.youtube-nocookie.com/embed/<%= youtube_id %>?showinfo=0" allowfullscreen>
    </iframe>
  </noscript>
</div>
