html {
  font-size: 14px;
}

.navbar-brand .makigas-logo {
  fill: currentcolor;
  height: 100%;
}

.paginator {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.dashboard-header {
  background: var(--bs-secondary-bg);
  border-bottom: 1px solid var(--bs-tertiary-color);
  margin-bottom: 20px;
  padding-bottom: 1em;

  .breadcrumb {
    background: none;
    padding: 0;
    padding-top: 1em;
  }
}

.dashboard-toolbar {
  form {
    display: inline-block;
  }

  margin-top: 4em;
}

form.button_to {
  display: inline;
}

.data-dashboard {
  h1 {
    text-align: center;
  }

  p.lead {
    text-align: center;
  }
}

[data-bs-theme="dark"] {
  --bs-danger-rgb: 230, 113, 124;
}
