.cryptosupport, .cryptoviewer, .cryptoerror {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

.cryptosupport, .cryptoviewer {
    background: #f1d600;
    color: #222;
}

.cryptoerror {
    background: #f6b32b;
}

.cryptosupport__text, .cryptoviewer__text, .cryptoerror__text {
    flex: 1;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 15px;
}
