/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700,700i';

body {
  font-family: 'Open Sans';
  font-size: 14px;
}

.main-header {
  // This sets how the logo is displayed on the top of the page.
  .navbar-brand {
    font-family: 'C64 Pro';
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 24px;
  }

  // My custom navbar decoration.
  .navbar-makigas {
    background: desaturate(#003399, 50%);
    border-bottom: none;
    margin-bottom: 0;
  
    .navbar-toggle .icon-bar { background: white; }

    a { color: white; }
    
    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
      -webkit-font-smoothing: subpixel-antialiased;
      .active { background: lighten(#993300, 10%); }
      a:hover, a:focus { background: #993300; }
    }
  }
}

.main-page-inner {
  padding-bottom: 25px;
}

.hero-tron {
  background-color: desaturate(#003399, 50%);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  
  @media screen and (min-width: 992px) {
    padding-bottom: 90px;
  }
  
  h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    @media screen and (min-width: 992px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  
  p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    @media screen and (min-width: 992px) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

@media screen and (min-width: 992px) {
  .with-hero.main-page {
    background: #f0f0e0;
  }
  .hero-tron + .main-page-inner {
    margin-top: -100px;
    padding-top: 20px;
    background: white;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  }
}

.main-footer {
  font-weight: 300;
  background: #303030;
  color: white;
  padding-top: 10px;
  
  a { color: lighten(#003399, 60%); }
  
  .footer-links {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
    
    h3 {
      font-family: 'Montserrat';
      font-weight: normal;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
    }
  }
  
  .copyright-info {
    background: desaturate(#003399, 50%);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    
    .row {
      text-align: center;
      @media screen and (min-width: 992px) {
        display: flex;
        & > div { align-self: flex-end; }
      }
    }
    
    p {
      line-height: 20px;
      @media screen and (min-width: 992px) { line-height: 12px; }
    }
    
    .copyright-links {
      @media screen and (min-width: 992px) { text-align: left; }
    }
    
    .year {
      line-height: 150%;
      font-size: 1.1em;
    }
    
    .made-in-spain {
      @media screen and (min-width: 992px) {
        text-align: right;
        p {
          display: inline-block;
          padding-right: 24px;
          background: image-url('spain.png');
          background-position: right;
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

// This is a common component shared by many views. Renders a grid of cards
// with thumbnails and it's expected for the thumbnails to appear in a grid
// structure. Grid cards will make use of column selectors, but it is important
// to make sure they are vertical the same size.
.grid-table {
  @media screen and (max-width: 767px) {
    .col-xs-6:nth-child(2n+1) { clear: both; }
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .col-sm-4:nth-child(3n+1) { clear: both; }
  }
  @media screen and (min-width: 1200px) {
    .col-lg-3:nth-child(4n+1) { clear: both; }
  }

  .panel {
    overflow: auto; // Make the card image respect the panel border-radius.
    img { width: 100%; } // Responsive image.
    position: relative; // Used for the badge.
    .badge {
      position: absolute;
      right: 10px;
      top: 10px;
      font-weight: normal;
      background: rgba(black, 0.5);
    }
    .panel-heading {
      border-bottom: none;
      text-align: center;
    }
  }
}

.episodes-table {
  .list-group-item {
    .media { margin: 0; }
    .video-duration {
      float: right;
      margin-left: 1rem;
      font-weight: normal;
    }
  }
}

// Many list groups (playlist, topic) will prefer to use a borderless version.
.list-group-buttons {
  margin-top: 10px;
  overflow: auto;
}

.buttons-bar {
  overflow: auto;
  margin-bottom: 15px;
}

/* Authentication. */
body.auth {
  background: desaturate(#003399, 25%);

  .panel-default {
    box-shadow: 0 0 4px #303030;
    border-radius: 0;

    .panel-heading {
      h2 { font-size: 1.5em; }
    }
  }

  .auth-header {
    margin-top: 4em;
    margin-bottom: 4em;

    h1.brand {
      text-align: center;
      color: white;
      font-family: 'C64 Pro';
      font-size: 40px;
      -webkit-font-smoothing: none;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
