// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-in-topic {
  a { color: #003399; }
}

.playlist-data {
  h1, p { text-align: left; }
  h1.playlist-title {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  p.playlist-description {
    font-size: 1.2em;
    line-height: 1.5;
  }
  img {
    border-radius: 100%;
    width: 180px;
    height: 180px;
  }
}