.media-summary-card {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  margin-bottom: 1em;

  .media-left img, .media-right img {
    max-width: 160px;
    max-height: 160px;
  }

  .media-heading {
    font-family: "Montserrat";
    line-height: 1.8;
  }

  .media-body {
    padding: 5px;
  }

  a {
    display: block;
    color: inherit;
    &:hover {
      text-decoration: none;
      .media-heading { text-decoration: underline; }
    }
  }

  &:hover {
    box-shadow: 0 1px 3px #c0c0c0;
  }
}