.video-list-group {
  .list-group-item {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }
  h4 {
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: normal;
  }
  .metadata {
    font-size: 0.9em;
  }
}

.video-toolbar {
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.video-information {
  margin-top: 15px;
  .card-header {
    font-family: 'Montserrat';
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
  }
}

.discord-cta {
  background-color: #36393f;
  color: white;
  margin-bottom: 1rem;

  a {
    color: inherit;
    display: block;
    padding: 1em;
  }

  p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  p.lead {
    font-weight: bold;
  }
}

.alert {
  margin-top: 15px;
}

#videos_filter {
  margin-bottom: 1em;
}

body.video-player-page {
  @media screen and (max-width: 767px) {
    .hero-tron {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 992px) {
    .hero-tron + .main-page-inner {
      padding-top: 0;
    }
  }
}
