@import "../layout/responsive";

:root {
  --button-background: white;
  --button-active-background: #0000001a;
  --button-foreground: black;
  --button-border-color: #0003;
  --button-focus-border-color: #00000080;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  background: var(--button-background);
  border: 1px solid var(--button-border-color);
  box-shadow: 0 1px 1px #00000040;
  border-radius: 5px;
  margin: 0;
  padding: 8px 16px;
  color: inherit;
  text-decoration: inherit;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: var(--button-focus-border-color);
  }

  &:active {
    background: var(--button-active-background);
  }
}

.btngroup {
  .btn {
    display: block;
  }

  .btn + .btn {
    margin-top: 10px;
  }

  @include desktop-layout {
    .btn {
      display: inline-block;
    }

    &--flex,
    &--fill {
      display: flex;
      width: 100%;
    }

    &--flex {
      justify-content: space-between;
    }

    &--fill {
      .btn {
        flex: 1;
      }
    }

    .btn + .btn {
      margin-left: 10px;
      margin-top: 0;
    }
  }
}
