@import "../layout/responsive";

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-foreground-color);
  text-align: center;
  font-size: 1rem;

  @include desktop-layout {
    text-align: left;
  }

  &__grid {
    padding: 20px 0;

    @include desktop-layout {
      display: grid;
      grid-template-columns: auto 140px 140px;
      grid-gap: 0 60px;
      grid-template-rows: repeat(2, auto);
    }

    @include wide-layout {
      grid-gap: 0 120px;
    }
  }

  a {
    color: var(--footer-link-color);
  }

  &__colophon {
    grid-column: span 1;
  }

  &__logo {
    margin-top: 1rem;

    svg {
      height: 21px;
    }
  }

  &__links {
    grid-column: span 2;
    display: flex;
    line-height: 2;
    max-width: 400px;
    margin: 0 auto;

    @include desktop-layout {
      max-width: unset;
      margin: unset;
    }
  }

  &__link {
    flex: 1;
    list-style: none;
    padding-left: 0;
    align-self: center;

    @include desktop-layout {
      align-self: start;
    }

    a {
      display: inline-block;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__legal {
    line-height: 2;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;

    a {
      white-space: nowrap;
    }
  }

  &__copyright {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;

    @include desktop-layout {
      display: flex;
      justify-content: space-between;
    }
  }

  &__spain {
    display: inline-block;
    background: url("../assets/spain.png");
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
  }
}
