@import "../layout/responsive";

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-foreground-color);
  text-align: center;

  @include desktop-layout {
    text-align: left;
  }

  &__grid {
    padding: 10px 30px;

    @include desktop-layout {
      display: grid;
      grid-template-columns: auto 140px 140px;
      grid-gap: 0 20px;
      grid-template-rows: repeat(2, auto);
    }
  }

  a {
    color: var(--footer-link-color);
  }

  &__colophon {
    grid-column: span 1;
  }

  &__links {
    grid-column: span 2;
    display: flex;
    line-height: 2;
    max-width: 400px;
    margin: 0 auto;

    @include desktop-layout {
      max-width: unset;
      margin: unset;
    }
  }

  &__link {
    flex: 1;
    list-style: none;
    padding-left: 0;
    align-self: center;

    @include desktop-layout {
      align-self: start;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__copyright {
    justify-self: start;
    grid-column: span 2;
  }

  &__madein {
    justify-self: end;
    align-self: end;
    grid-column: span 1;
  }

  &__spain {
    display: inline-block;
    background: url("../assets/spain.png");
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
  }
}
