.forumcta {
  background-color: var(--forumcta-background);
  color: var(--forumcta-foreground);
  font-size: 1.1rem;

  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-family: var(--font-title);
  }
}
