@import "../layout/responsive";

.forumcta {
  border: 1px solid var(--makigas-brand-washed-out);
  background: white;
  box-shadow: 0 2px 4px -1px var(--makigas-brand-washed-out);
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 10px;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 0.8em;
  }

  &__lead {
    font-size: 1.1rem;
  }

  &__btns {
    padding-top: 0.6rem;

    p + p {
      margin-top: 1.2rem;
    }

    @include desktop-layout {
      display: flex;
      gap: 0.8rem;
      margin-top: 0;
      align-items: end;
      p { flex: 1; }
      p + p { margin-top: 0.6rem; }
    }
  }

  &__btn {
    padding: 8px 24px;
    border-radius: 6px;
    background: var(--makigas-brand-darker);
    color: white;

    @include desktop-layout {
      display: block;
      text-align: center;
    }
  }
}
