@import "../layout/responsive";

:root {
  --jumbo-background: var(--makigas-brand-darker);
}

.jumbo {
  background: var(--jumbo-background);
  color: white;
  font-family: var(--font-title);
  padding: 12px 24px;

  h1 {
    font-size: 1.5rem;
  }

  @include desktop-layout {
    padding: 20px 40px;

    h1 {
      font-size: 2rem;
    }
  }
}
