.live {
  position: fixed;
  bottom: 0;
  right: 10px;
  background: #9146ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .live__close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: black;
    border: none;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  .live__close:hover {
    background: silver;
    color: black;
  }

  .live__prompt {
    margin: 5px;
    text-align: center;
    padding: 0;
    line-height: 1.5;
    color: white;
  }

  .live__thumbnail {
    width: 320px;
    margin: 0;
    line-height: 1;
    padding: 0;
  }

  .btngroup {
    padding: 10px;
  }
}
