.metas {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em 1rem;

  @media screen and (width >= 768px) {
    flex-direction: row;
  }
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;

  &__icon {
    width: 1.15em;
    height: 1.15em;
  }
}
