.metas {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em 1rem;

  @media screen and (width >= 768px) {
    flex-direction: row;
  }
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  &__icon {
    width: 1.15em;
    height: 1.15em;
  }
}
