@import "../layout/responsive";

$navbar-size: 40px;

@keyframes scale-up {
  from {
    max-height: 0;
  }

  to {
    max-height: 100vh;
  }
}

:root {
  --navbar-background: var(--makigas-brand-darker);
  --navbar-foreground: white;
  --navbar-menu-background: #e3e6ec;
  --navbar-menu-foreground: black;
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-foreground);
  padding-top: calc($navbar-size / 4);
  padding-bottom: calc($navbar-size / 4);
  height: $navbar-size;
  position: relative;

  &--front {
    background: transparent;
    width: 100%;
  }

  &--front + main {
    margin-top: calc($navbar-size * -1.5);
  }

  &__grid {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "mtoggle logo explore stoggle";
    display: grid;
    gap: 30px;
  }

  &__mtoggle {
    grid-area: mtoggle;
  }

  &__logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;

    a {
      color: inherit;
    }

    svg {
      height: 21px;
    }
  }

  &__explore {
    grid-area: explore;
    display: none;
  }

  &__search {
    grid-area: search;
    display: none;

    &__area {
      flex: 1;
    }
  }

  &__stoggle {
    grid-area: stoggle;
    justify-self: end;
  }

  &__explorer {
    display: none;
    position: absolute;
    top: calc($navbar-size * 1.5);
    left: 0;
    width: 100%;
    border-bottom: 2px solid #0003;
    background: var(--navbar-menu-background);
    color: var(--navbar-menu-foreground);
    z-index: 1;
  }

  &__button {
    background: transparent;
    border: none;
    color: var(--navbar-foreground);
    width: $navbar-size * 1.5;
    height: $navbar-size;
  }

  &__explorecta {
    display: none;
    font-size: inherit;
    color: inherit;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__caret {
    vertical-align: middle;
  }

  // The curtain is present when the navbar is opened on desktop, in order
  // to have a clickable area to trigger the close of the navbar itself.
  &__curtain {
    top: $navbar-size * 1.5;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
  }

  .searchbar {
    --searchbar-box-background: #fffc;

    margin-bottom: 0;

    &:focus-within {
      --searchbar-box-background: #fff;
    }

    &__search::placeholder {
      color: rgb(70 70 70 / 90%);
      opacity: 1; /* firefox workaround (see #712) */
    }
  }

  /* When the navbar is in search mode. */
  &--menu {
    --navbar-foreground: black;

    background: var(--navbar-menu-background);

    .navbar__explore,
    .navbar__explorer {
      display: block;
      animation: scale-up 0.5s ease-out;
      overflow: hidden;
    }

    .navbar__curtain {
      display: block;
    }
  }

  /* When the searching class is added, mobile focuses on search. */
  &--searching {
    .navbar__grid {
      grid-template-columns: 1fr;
      grid-template-areas: "search";
    }

    .navbar__stoggle,
    .navbar__mtoggle,
    .navbar__explore,
    .navbar__logo {
      display: none;
    }

    .navbar__search {
      display: flex;
      width: 100%;
    }
  }

  @include desktop-layout {
    &__grid {
      grid-template-columns: auto auto 1fr;
      grid-template-areas: "logo explore search";
    }

    &__mtoggle {
      display: none;
    }

    &__stoggle {
      display: none;
    }

    &__search {
      display: flex;
      width: 400px;
      justify-self: end;

      &__hide {
        display: none;
      }

      &__area {
        width: 100%;
      }
    }

    &__explore {
      display: block;
      position: relative;
      padding-top: calc($navbar-size / 4);
      padding-bottom: calc($navbar-size / 4);
    }

    &__explorecta {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__explorer {
      position: absolute;
      top: 45px;
      border-radius: 0 15px 15px;
      left: 0;
      width: 600px;
      box-shadow: 0 4px 4px #fff3;
    }

    &--menu {
      --navbar-foreground: white;

      background: var(--navbar-background);

      &.navbar--front {
        background: transparent;
      }

      .navbar__explore {
        background: var(--navbar-menu-background);
        color: var(--navbar-menu-foreground);
        border-radius: 15px 15px 0 0;
      }

      .navbar__explore,
      .navbar__explorer {
        animation: none;
        overflow: visible;
      }

      .navbar__explorer {
        display: block;
      }
    }
  }
}
