:root {
  --playlist-card-hover-background: var(--makigas-brand-washed-out);
}

.plcard {
  &__img {
    border-radius: 100%;
    height: 100%;
  }

  &__thumb {
    display: none;
    flex: 0;
    margin: 0;
    margin-right: 2rem;

    @media screen and (min-width: 480px) {
      display: block;
      width: 96px;
      height: 96px;
    }

    @media screen and (min-width: 800px) {
      width: 144px;
      height: 144px;
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    margin-top: 0;
  }

  &__link {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 12px;

    &:hover,
    &:active {
      background-color: var(--playlist-card-hover-background);
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }
  }

  &__metas {
    margin-bottom: 0;
  }
}
