@import "../layout/responsive.scss";

:root {
  --playlist-card-hover-color: var(--makigas-brand-washed-out);
  --playlist-card-hover-background: oklch(from var(--playlist-card-hover-color) l c h / 30%);
  --playlist-card-hover-border: var(--playlist-card-hover-color);
}

.playlistslist {
  display: grid;

  @include hdpi-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

.plcard {
  &__img {
    border-radius: 5px;
    height: 100%;
  }

  &__thumb {
    display: none;
    flex: 0;
    margin: 0;

    @media screen and (min-width: 480px) {
      display: block;
      width: 48px;
      height: 48px;
    }

    @media screen and (min-width: 800px) {
      width: 64px;
      height: 64px;
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }

  &__link {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 15px;
    border-radius: 12px;
    gap: 15px;

    &:hover,
    &:active {
      background-color: var(--playlist-card-hover-background);
      outline: 1px solid var(--playlist-card-hover-border);
    }
  }

  &__metas {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
