$plhead-text-size: 1.15rem;

:root {
  --playlist-header-background: var(--playlist-background);
}

.plhead {
  background: var(--playlist-header-background, var(--makigas-brand));
  color: var(--playlist-header-foreground, #fff);
  font-size: $plhead-text-size;

  &__wrap {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }

  &__data {
    max-width: 72ch;
  }

  &__title {
    font-size: 2rem;
  }

  &__thumbnail {
    margin: 0;
    display: none;

    @media screen and (min-width: 767px) {
      display: block;
    }
  }

  &__img {
    border-radius: 100%;
  }
}
