@import "../layout/responsive.scss";

.tagslist {
  list-style: none;
  padding-left: 0;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  display: grid;
}

.topcard {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3rem 1fr;
  gap: 1rem;
  align-items: center;

  /* Dimensions. */
  padding: 1rem;
  border-radius: 12px;

  &__icon {
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  &__title {
    margin-top: 0;
    font-size: 1.2rem;
  }
}
