@import "../layout/responsive.scss";

.topicslist {
  @include desktop-layout {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include hdpi-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

.topcard {
  &__link {
    display: flex;
    gap: 1rem;

    /* Dimensions. */
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 12px;

    /* Making it look less like a link. */
    color: inherit;
    text-decoration: inherit;

    &:hover {
      background-color: var(--makigas-brand-washed-out);
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }
  }

  &__thumb {
    display: none;
    margin: 0;

    @media screen and (min-width: 767px) {
      display: block;
      width: 96px;
      height: 96px;
    }
  }

  &__icon {
    height: 100%;
    border-radius: 15px;
  }

  &__body {
    flex: 1;
    align-self: center;
  }

  &__title {
    margin-top: 0;
    font-size: 1.2rem;
  }
}
