@import "../layout/responsive";

.videoinfo {
  &__pldata {
    margin-bottom: 0;
  }

  &__pllink {
    font-size: 1.2rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: bold;
  }

  &__title {
    margin: 3px 0;
    line-height: 1.2;
    font-size: 2rem;
    font-family: var(--font-title);
  }

  &__description {
    font-size: 1.3rem;
    font-family: var(--font-title);
  }

  &__body {
    @include desktop-layout {
      display: grid;
      grid-template-columns: auto 350px;
      gap: 2rem;
    }

    @include wide-layout {
      grid-template-columns: auto 400px;
    }
  }

  &__shownotes,
  &__text,
  &__links {
    max-width: 70ch;

    h2 {
      font-size: 1.7rem;
      font-family: var(--font-title);
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.4rem;
      font-family: var(--font-title);
      margin-bottom: 0;
    }

    h4 {
      font-size: 1.1rem;
      font-family: var(--font-title);
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }

  &__text,
  &__links {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    @include desktop-layout {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__meta {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.1rem;

    @include desktop-layout {
      font-size: 1rem;
    }

    & + & {
      margin-top: 0.4rem;
    }
  }

  &__nonotes {
    background: #d9e2f5;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1rem;

    &__btn {
      font-size: 0.9em;
      padding: 0.2rem 1rem;
    }
  }

  &__transcription {
    font-size: 0.95rem;

    summary {
      cursor: default;
      font-weight: bold;
      font-size: 1rem;
    }

    p {
      margin-top: 0.5rem;
      margin-left: 18px;
      margin-bottom: 1rem;
    }
  }

  &__tag {
    background: var(--tag-background);
    color: var(--tag-foreground);
    padding: 4px;
    font-size: 0.9rem;
    vertical-align: text-bottom;
    text-decoration: none;
    border-radius: 2px;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
