$video-vnum-width: 1.25rem;

.videocard {
  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border-radius: 12px;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--playlist-lighten-30);
    }
  }

  &__vnum {
    width: $video-vnum-width;
    display: inline-block;
  }

  &__title {
    font-size: 1rem;
    margin: 0;
  }

  &__desc {
    margin: 0;
    margin-top: 0.75rem;
    margin-left: $video-vnum-width;
  }

  &__meta {
    font-size: 0.8rem;
    margin: 0;
    margin-left: $video-vnum-width;
    margin-top: 0.75rem;
  }
}
