@import "../layout/responsive";

.videoexplorer {
  &__list {
    margin: 20px 0;
  }

  &__removetext {
    font-weight: normal;
    font-size: 1rem;
  }

  &__toggle {
    margin-top: 1rem;
    width: 100%;

    @include desktop-layout {
      display: none;
    }
  }

  &__wrap {
    @include desktop-layout {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 30px;
    }
  }

  &__sidebar {
    border-bottom: 1px solid #0003;
    max-height: 0;
    transition: max-height 0.25s linear;
    overflow: hidden;
    visibility: hidden;

    &--toggle {
      max-height: 100vh;
      visibility: visible;
    }

    @include desktop-layout {
      border-bottom: none;
      max-height: 100vh;
      visibility: visible;
    }
  }
}
