.ytiframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  background: black;
  max-height: 70vh;
  display: flex;
  justify-content: center;

  &__iframe {
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: 0;
    padding: 0;
    max-height: 70vh; // WebKit
  }

  #ytplayer {
    width: 100%;
    height: 100%;
  }
}
