.ytiframe {
  width: 100%;

  background-color: #181818;
  background-image: var(--thumbnail-url);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  display: flex;
  justify-content: center;

  @media screen and (width >= 480px) {
    aspect-ratio: 16 / 9;
    max-height: 70vh;
  }

  &__iframe {
    height: 100%;
    margin: 0;
    padding: 0;

    @media screen and (width >= 480px) {
      aspect-ratio: 16 / 9;
      max-height: 70vh;
    }
  }

  &--loaded {
    aspect-ratio: 16 / 9;
    max-height: 70vh;
  }

  &--loaded &__iframe {
    aspect-ratio: 16 / 9;
    max-height: 70vh;
  }

  // Klaro placeholder
  div[data-type="placeholder"] {
    --green1: var(--makigas-brand);
    --green2: var(--makigas-brand-darker);
    --font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #333;
  }

  .klaro.cm-as-context-notice {
    @media screen and (width >= 480px) {
      flex: 1;
      height: unset;
      max-width: 600px;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    button {
      padding-left: 3ch;
      padding-right: 3ch;
    }
  }

  #ytplayer {
    width: 100%;
    height: 100%;
  }
}

.consent {
  width: 100%;
  height: 100%;
  display: none;

  &--visible {
    display: block;
  }

  &__box {
    --button-foreground: black;
    height: fit-content;
    padding: 5px 15px;
    text-align: center;
  }

  p {
    line-height: 1.2;
    color: white;
  }

  &__lead {
    font-size: 1.3rem;
    font-weight: bold;
  }

  small {
    font-size: 0.9rem;
    color: white;
  }

  &__buttons {
    display: inline-flex;
    gap: 1rem;
  }

  @media screen and (width >= 480px) {
    &--visible {
      display: flex;
    }
    justify-content: center;
    align-items: center;

    &__box {
      max-width: 70ch;
    }
  }
}
