<% content_for :title, "#{t('.meta.title')} – makigas" %>
<% content_for :description, t('.meta.description') %>
<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>
<%= render Six::Explorer::PlaylistListComponent.new(playlists: @playlists) %>
<div class="paginator">
  <%= paginate @playlists %>
</div>
