.sidebarpill {
  text-decoration: none;
  background-color: var(--sidebarpill-background);
  color: var(--sidebarpill-foreground);
  padding: var(--sidebarpill-py) var(--sidebarpill-px);
  border-radius: 3px;

  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--sidebarpill-background-hover);
    color: var(--sidebarpill-foreground-hover);
  }

  &--active {
    background-color: var(--sidebarpill-background-active);
    color: var(--sidebarpill-foreground-hover);
  }

  &__icon {
    height: 1em;
    vertical-align: text-bottom;
  }

  &__content {
    flex: 1;
  }

  &--forcepad &__content {
    padding-left: 1.5em;
  }

  &--forcepad &__icon + &__content {
    padding-left: 0;
  }
}
