@import "../../layout/responsive.scss";

@keyframes slideexplorer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.sidebarexplorer {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__wrap {
    @include desktop-layout {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 20px;
    }
  }

  &__toggle {
    width: 100%;
    margin-bottom: 1rem;

    @include desktop-layout {
      display: none;
    }
  }

  &__sidebar {
    border-bottom: 1px solid #0003;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 300px;
    overflow-y: scroll;
    background: white;
    padding: 20px;

    &--toggle {
      display: block;
      animation: slideexplorer 0.25s ease-out;
    }

    @include desktop-layout {
      position: relative;
      overflow-y: visible;
      background: transparent;
      padding: 0;
      border-bottom: none;
      display: block;
    }
  }

  &__background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #0008;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease-out;

    &--toggle {
      display: block;
      opacity: 1;
    }

    @include desktop-layout {
      display: none;
    }
  }
}
