.sidebarfilter {
  font-size: 1em;

  &__title {
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
  }

  &:has(.sidebarpill) &__title {
    padding-left: 5px;
  }

  &__body {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    li {
      padding: 2px 0px;
    }

    li:has(.sidebarpill) {
      padding-left: -5px;
    }
  }

  & + & {
    margin-top: 1.5em;
  }
}
