name: Docker

on:
  push:
    branches:
      - trunk
  pull_request:

jobs:
  docker:
    name: Release Docker images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t docker.pkg.github.com/${{ github.repository }}/makigas:latest .
      - name: Upload Docker image to GitHub
        if: ${{ github.event_name == 'push' }}
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username danirod --password-stdin
          docker push docker.pkg.github.com/${{ github.repository }}/makigas:latest