name: Build and Deploy Docker image
on:
  push:
    # branches:
    #  - trunk
jobs:
  docker:
    name: Release Docker images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}/makigas:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
  deploy:
    name: Deploy into my server
    needs: [docker]
    runs-on: ubuntu-latest
    environment: public
    steps:
    - name: Execute a remote command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }}
        script: |
          docker-compose --project-directory docker/makigas pull
          docker-compose --project-directory docker/makigas up -d
