name: Ruby

on:
  push:
    branches:
      - trunk
  pull_request:

jobs:
  rspec:
    name: Run rspec
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Install libpq-dev
        run: sudo apt-get -yqq install libpq-dev
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.4'
          bundler-cache: true
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Setup application
        run: bundle exec rake db:create db:schema:load yarn:install
        env:
          RAILS_ENV: test
          DB_NAME: postgres
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
      - name: Run tests
        run: bundle exec rspec
        env:
          RAILS_ENV: test
          DB_NAME: postgres
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
  rubocop:
    name: Run rubocop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install libpq-dev
        run: sudo apt-get -yqq install libpq-dev
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.4'
          bundler-cache: true
      - name: Run Rubocop
        run: bundle exec rubocop
